<div id="add-result">
    <h2>Darts</h2>
    <select
        [(ngModel)]="player1"
        (ngModelChange)="updatePlayerSelections()">
        <option value>Select Player 1</option>
        <option
            *ngFor="let player of players"
            [value]="player"
            [disabled]="isPlayerSelected(player, 1)">
            {{player}}
        </option>
    </select>
    <select
        [(ngModel)]="player2"
        (ngModelChange)="updatePlayerSelections()">
        <option value>Select Player 2</option>
        <option
            *ngFor="let player of players"
            [value]="player"
            [disabled]="isPlayerSelected(player, 2)">
            {{player}}
        </option>
    </select>
    <select
        [(ngModel)]="player3"
        (ngModelChange)="updatePlayerSelections()">
        <option value>Select Player 3 (Optional)</option>
        <option
            *ngFor="let player of players"
            [value]="player"
            [disabled]="isPlayerSelected(player, 3)">
            {{player}}
        </option>
    </select>
    <select
        [(ngModel)]="winner"
        [disabled]="!canSelectWinner()">
        <option value>Select Winner</option>
        <option
            *ngFor="let player of getSelectedPlayers()"
            [value]="player">
            {{player}}
        </option>
    </select>
    <button
        (click)="submitGame()"
        [disabled]="!canAddResult()">
        Add Result
    </button>
</div>

<div id="leaderboard">
    <h2>Leaderboard</h2>
    <table
        mat-table
        [dataSource]="leaderboardData"
        class="mat-elevation-z8">
        <ng-container matColumnDef="name">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Name
            </th>
            <td
                mat-cell
                *matCellDef="let element">
                {{element.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="gamesPlayed">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Games Played
            </th>
            <td
                mat-cell
                *matCellDef="let element">
                {{element.games_played}}
            </td>
        </ng-container>

        <ng-container matColumnDef="gamesWon">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Games Won
            </th>
            <td
                mat-cell
                *matCellDef="let element">
                {{element.games_won}}
            </td>
        </ng-container>

        <ng-container matColumnDef="winPercentage">
            <th
                mat-header-cell
                *matHeaderCellDef>
                Win Percentage
            </th>
            <td
                mat-cell
                *matCellDef="let element">
                {{element.win_percentage | number:'1.0-2'}}%
            </td>
        </ng-container>

        <tbody>
            <tr
                mat-header-row
                *matHeaderRowDef="displayedColumns"></tr>
            <tr
                mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>
        </tbody>
    </table>
</div>

@if (showFireworks) {
    <div class="pyro">
        <div class="before"></div>
        <div class="after"></div>
      </div>
}
